.nav-stick {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 4vh;
}

.navdiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

main.background {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.glossary-card {
    height: 95vh;
    margin-top: 5vh;
}

.glossary-card-body {
    height: 100%;
    display: flex;
}

.glossary-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.glossary-header span:first-child {
    width: 5%;    
    margin-bottom: 0;
}

/* .glossary-header span:first-child span:first-child{
    align-self: center;
} */

.glossary-header span:nth-child(2) {
    width: 30%;
}

.glossary-header span:nth-child(3) {
    width: 65%;
}

.glossary-index, .glossary-page {
    display: inline-flex;
}

.glossary-index {
    width: 34%;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,.125);
}

.glossary-definition {
    height: -webkit-fill-available;
    min-height: 75%;
}

.glossary-page {
    width: 66%;
}

.strikethrough {
    text-decoration: line-through;
}

.btn-medium-text {
    font-weight: 600;
    font-size: larger;
}

.link-innocuous {
    color: gray;
    font-weight: 100;
}

.bat-signal-progress {
    width: 75%;
}

.trammel-net, .switched-answers, .optins, .forced-continuity, .disguised-ads, .confirmshaming, .deceptive-timers, .additional-items {
    width: 100%;
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

.little-padding .card {
    margin: 7% 7%;
}

.little-padding .card-body {
    padding: 5% 3%;
}

.little-padding .card-body > * {
    margin-bottom: 1vh;
}

.lots-of-padding .card {
    margin: 7% 7%;
}

.lots-of-padding .card-body {
    padding: 7% 7%;
}

.lots-of-padding .card-body > * {
    margin-bottom: 2vh;
}

.additional-items ul {
    list-style-type: none;
    
}

.additional-items li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.red-x {
    color: darkred;
}

.store-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
}

/* .store-row {
    display: block;
    width: 100%;
} */

.store-col {
    display: inline-flex;
    width: 48%;
    flex-direction: column;
    justify-content: space-between;
}

.store-col > * {
    margin-bottom: 1vh
}

.cart-btn {
    align-self: flex-end;
}

.doohicky-description {
    text-align: left;
}

.confirmshaming ul {
    list-style: none;
}

.disguised-ads .results-list {
    /* border: thin black solid; */
    overflow-y: scroll;
    max-height: 30vh;
    list-style-type: none;
}

.disguised-ads .result {
    display: flex;
    justify-content: space-between;
}

.forced-continuity .req-asterisk {
    /* color: red; */
    font-weight: 700;
    font-size: 115%;
}

.forced-continuity .req-legend {
    font-weight: 200;
    color: darkgray;
    align-self: flex-end;
}

.optins .btn-terms input, .optins .check-data input, .optins .check-spam input, .forced-continuity .btn-terms input {
    margin-left: 2vw;
}

.switched-answers .eula {
    border: thin solid black;
    overflow-y: scroll;
    max-height: 10vh;
    text-align: start;
}

.trammel-net-plans-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.trammel-net-plan {
    padding: 0 1vw;
    flex-grow: 1;
    width: 33%;
}

.trammel-net-plan:nth-child(2) {
    border-left: thin black solid;
    border-right: thin black solid;
}

.trammel-net-plan ul {
    list-style-type: none;
    padding-left: 0;
}

.trammel-net-plan li {
    padding-bottom: 0.5vh;
}